<link rel="stylesheet" href="app.css">
<h1>Welcome to the movie world!!!</h1>
<p>You can search for any movie here. Feel free...</p>
<form action="/movie" method="GET">
    <input name="movieSearch" type="text" placeholder="Search a movie.">
    <button>Search now</button>
</form>